.carousel {
    position: relative;
    height: 36vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 10px;
}

.right-arrow, .left-arrow {
    position: absolute;
    top: 40%;
    font-size: 3rem;
    color: #11526c;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    background-color: #dfebe8;
    border-radius: 10px;
    width: 14vw;
}
.right-arrow {
    right: 18px;
}
.left-arrow {
    left: 18px;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(.78);
}

h3 {
    color: #243637;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.65rem;
    margin-bottom: 0;
    margin-top: 0;
}

p {
    color: #243637;
    margin-top: 0;
    width: 80%;
    margin: auto auto 104px auto;
    text-align: center;
    font-size: .9rem;
}

.github-link {
    color: #243637;
    margin-left: .5rem;
}

.github-logo {
    width: 7vw;
}

@media screen and (min-width: 768px) {
    .carousel {
        height: 500px;
    }
    .image {
        scale: 1.3;
    }
    .slide.active {
        transform: scale(1.08);
    }
    .right-arrow, .left-arrow {
        top: 40%;
        font-size: 2rem;
        border-radius: 10px;
        width: 7vw;
    }
    .right-arrow {
        right: 27vw;
        box-shadow: 1px 1px 2px 2px #24363770;
    }
    .left-arrow {
        left: 27vw;
        box-shadow: -1px 1px 2px 2px #24363770;
    }
    h3 {
        margin-bottom: 0px;
    }
    p {
        font-size: 1.5rem;
    }
    .github-link {
        margin-left: 1.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .carousel {
        height: 400px;
    }
    .right-arrow, .left-arrow {
        font-size: 2em;
        border-radius: 10px;
        width: 50px;
    }
    .right-arrow {
        right: 30%;
        box-shadow: 1px 1px 2px 2px #24363770;
    }
    .left-arrow {
        left: 30%;
        box-shadow: -1px 1px 2px 2px #24363770;
    }
    h3 {
        font-size: 34px;
        margin-bottom: 50px;
    }
    p {
        margin-top: 50px;
        font-size: 1.5rem;
    }
    .github-link {
        margin-left: 34px;
    }
    .github-logo {
        width: 60px;
    }
}